<h2>About Us</h2>
<p>Welcome to Pole Up. We are a community of dancers, entrepreneurs, and investors who are interested in meeting one another and sharing ideas.</p>
<div class="text-center">
    <img src="https://c1.staticflickr.com/1/862/42793323285_b98131713a_o.jpg">
</div>