<div class="jumbotron text-center">
    <h1>Welcome to Pole-Up</h1>
    <h3>Learn How To Pole Dance At Home While Getting A Great Workout. </h3>
    <h3>Unlock New Moves As You Go!</h3>
</div>
 
<div class="text-center">
    <img src="https://static1.squarespace.com/static/53321908e4b0e6650a1f0e80/t/563e80cce4b02dccf8b08ad5/1446936781866/Bunny+girl+image.jpg"/>
</div>